<form [formGroup]="form" (ngSubmit)="signUp()" class="form-register" novalidate>
  <h1 class="h3 mb-3 font-weight-normal">Crie sua conta</h1>
  <label for="name" class="sr-only">Nome</label>
  <input type="text" class="form-control" formControlName="name" aria-valuemin="3" aria-valuemax="16" placeholder="Nome" required autofocus>
  <div *ngIf="name.invalid && name.touched" class="alert alert-danger">
    Nome deve ter entre 3 e 16 caracteres
  </div>
  <label for="inputEmail" class="sr-only">E-mail</label>
  <input type="email" class="form-control" formControlName="email" placeholder="Email" required>
  <!--
  <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
    Email inválido
  </div>
-->
  <div *ngIf="email.errors && email.errors.required && email.dirty" class="alert alert-danger">
    Email é obrigatório
  </div>
  <div *ngIf="email?.invalid && email?.dirty" class="alert alert-danger">
    Email inválido
  </div>
  <label for="inputPassword" class="sr-only">Senha</label>
  <input type="password" formControlName="password" class="form-control" placeholder="Senha" required>
  <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
    Senha deve estar entre 6 e 24 caracteres e ter letras e números
  </div>
  <label for="inputPassword" class="sr-only">Confirmação</label>
  <input type="password" formControlName="confirm" class="form-control" placeholder="Confirmar senha" required>
  <div *ngIf="!isPasswordMatch() && confirm.dirty" class="alert alert-danger">
    As senhas não conferem
  </div>
  <div *ngIf="error.message" class="alert alert-danger">
    {{error.message}}
  </div>
  <button class="btn btn-lg btn-primary btn-block" [disabled]="!isPasswordMatch() && !form.valid" type="submit">Salvar</button>
  <!--pre>{{ userInfo | json }}</pre-->
</form>