/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

.ng-valid[required], .ng-valid.required  {
  border-left: 3px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 3px solid #a94442; /* red */
}  

/*
    "angularfire2": "^5.0.0-rc.6.0",
    "bootstrap": "^4.1.1",
    "core-js": "^2.5.4",
    "firebase": "^4.13.1",
*/